body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(46, 37, 46);
}

.container {
    width: 70%;
    padding: 1em;
    border: 1px dotted gainsboro;
    margin: 0 auto;
}

.container h1 {
    font-size: 1.5em;
    
}

.header{
    background: rgb(151, 209, 76);
    display: flex;
    padding: 1em; 
    align-items: center;
}

.header span {
    margin-left: 1em;
}